<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mutconnex</name>
	<displayName><![CDATA[Connexion Mutualisée]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[mise dans un cookie de données d\'authentification d\'un user]]></description>
	<author><![CDATA[MyLittleThings]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
